---
import Center from "../Center.astro";
import { Icon } from "../Icon/Icon";
import Logo from "./Logo.astro";

const currentPath = Astro.url.pathname;
const topLevelPath = currentPath.split("/")[1];

const navigation = [
  { label: "~", href: "/" },
  { label: "about", href: "/about" },
  { label: "blog", href: "/blog" },
  { label: "projects", href: "/projects" },
  { label: "art", href: "/art" },
  { label: "now", href: "/now" },
];
---

<header>
  <h1 class="name">Froppii</h1>
  <nav class="nav">
    {navigation.map((link, i) => (
      <span class="nav-item">
        <a
          href={link.href}
          class={`nav-link ${Astro.url.pathname === link.href ? 'active' : ''}`}
        >
          {link.label}
        </a>
        {i < navigation.length - 1 && <span class="divider">/</span>}
      </span>
    ))}
  </nav>
</header>

<style>
  header {
    padding: 1rem;
    text-align: center;
    font-family: monospace;
  }

  .name {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    margin: 20px;
  }

  .nav {
    display: inline-block; /* center like inline text */
  }

  .nav-item {
    display: inline;
  }

  .divider {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    color: rgb(142, 142, 142);
  }

  .nav-link {
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
    font-size: 16px;
    transition: color 0.3s ease;
  }

  .nav-link:hover,
  .nav-link.active {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: black;
    text-underline-offset: 4px;
  }
</style>
