---
import Header from '../components/Header/Header.astro';
import Center from '../components/Center.astro';

import '../styles/global.css'; 
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title><slot name="title" /></title>
    </head>
    <body>
        <Header />
        <Center>
            <main>
                <slot />
            </main>
        </Center>
    </body>
</html>