---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import Center from "../components/Center.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} - froppii</title>
  </head>
  <body>
    <Header />
    <main class="main-content">
      <Center>
        <slot />
      </Center>
    </main>
  </body>
  <Footer />
</html>

<style>
  body {
    font-family: system-ui, sans-serif;
    margin: 0;
    background: #fafafa;
    color: #111;
  }

  .main-content {
    margin: 2rem auto;
  }

  body.dark {
    background: #121212;
    color: #eee;
  }
</style>
